<a class="sidebar-nav-item minor" href="https://github.com/oscar-system/book.oscar-system.org/edit/gh-pages/{{.Page.File}}">Edit this page</a>
<a class="sidebar-nav-item minor" href="mailto:webmaster@oscar-system.org">Contact</a>
<a class="sidebar-nav-item minor" href="https://rptu.de/en/imprint">Imprint</a>
<a class="sidebar-nav-item minor" href="https://rptu.de/en/privacy">Privacy policy</a>
<a class="sidebar-nav-item minor" href="{{ .Site.BaseURL }}/">&copy; 2018-{{now.Year}} The OSCAR Team</a>
